@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>X editor</h2>
        <p>
            Demonstrate optimistic concurrency editor
        </p>
        <p>@Html.ActionLink("Edit", "Index", "X", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-6">
        <h2>Y editor</h2>
        <p>
            Demonstrate pessimistic concurrency editor
        </p>
        <p>@Html.ActionLink("Edit", "Index", "Y", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>

</div>